.Quizcontainer{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    
    
    flex-direction: column; 
   
}

input[type="radio"]{
    display: none;
    
}

 

label{
    
    font-size: 1rem;
    font-family: "Bebas Neue";
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(77, 75, 75, 0.218);
    margin: 10px;
    padding: 5px;
    border-radius: 50px;
    
    animation: answerreveal 1s linear ;
    
}

label:hover{
    background-color: rgba(144, 144, 110, 0.377);
    backdrop-filter: blur(8px);
    border: 2px solid rgba(255, 255, 255, 0.618);
}






Form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.quizinner{
    display: flex;
    
    flex-direction: column;
    justify-content: flex-end;
    align-self: flex-end ;
    height: 100vh;
    width: 90vw;
    max-width: 90vw;
  
    


   
    
}

.questioncontainer{
   display: flex;
   justify-content:center;
   align-items: center;
position: absolute;
   text-align: center;
   width: 80vw;
   top: 0;
   border-radius: 0px 0px 40px 40px;
   max-height: 90vh;
  padding-top: 2rem;
   backdrop-filter: blur(12px);
   background-color: #4c4c4c30;

 
   

   
   
}

.questioncontainer h1{
    display: flex;
    min-height: 10vh;
    
    max-width: 80%;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 100;
   text-shadow: 2px 1px 0px rgba(32, 31, 31, 0.589);
   color: white;
   letter-spacing: 2.8px;
    padding-bottom: 1rem;
  
    animation: questionreveal 1s linear ;
   
    

}




.answercontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15vh    ;
    max-height: 50vh;
    max-width: 80vw;
    font-size: 1rem;
    flex-direction: column;
    
}




/* Hide the default checkbox input */


  
  /* Adjusting the .Answer class a bit for better alignment */
  
  


button {
    font-family: "Bebas Neue", sans-serif;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.203);
    backdrop-filter: blur(8px);
    width: 100%;
    height: 80%;
    background-color: transparent;
    border-radius: 50px;
    margin: 0.5rem;
    
}


.button:hover{
    transition: 0.6s ease-in-out;
    color: white;
    font-size: 28px;
    text-shadow: 3px 2px 2px rgba(13, 12, 12, 0.967) ;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
    background: linear-gradient(to right, rgba(175, 122, 57, 0.542), rgba(0, 0, 0, 0.2));
}

.nextButton{
    position: absolute;
    transform: ease-in-out 1s;
    width: 10%; 
    height: 8vh;
    font-size: 1.2rem;
    bottom: 2vh;
    animation: answerreveal 3s linear ;
    
}
.backButton{
    position: absolute;
    top: 0;
    right: 0;
    margin: 2rem;
    transform: ease-in-out 1s;
    width: 5vw; 
    height: 5vh;
    font-size: 1rem;
    
}

.backButton:hover {
    cursor: pointer;
    background: linear-gradient(to right, rgba(175, 122, 57, 0.542), rgba(0, 0, 0, 0.2));
}
.nextButton:hover{
    cursor: pointer;
    background: linear-gradient(to right, rgba(175, 122, 57, 0.542), rgba(0, 0, 0, 0.2));
}
.non-correct-answer{
    transform: ease-in 0.1s;
    
}



.Answer{
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2.8px;
    color: white;
    font-weight: 100;
    font-size: 1rem;
    font-family: "Play";   
    line-height: 120%;
    min-width: 70vw;
    padding: 5px;
    animation: answerreveal 1s linear ;
    
     /* Adjust as needed */
  }




.non-selected{
    color: white;
}

.selected{
    background: linear-gradient(to right, rgba(175, 122, 57, 0.542), rgba(0, 0, 0, 0.2));
    
    
}

.correct-answer{
   
    background: linear-gradient(to right, rgba(181, 179, 52, 0.527), rgba(0, 128, 0, 0.522));
    border-radius: 20px;
    animation: answerreveal 2.5s linear ;
   

}


.noquestionscontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-size: 1rem;
}

.noquestionscontainer p{
    font-size: 3rem;
}

.noquestions{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 50vw;
    height: 10%;
    font-size: 1rem;
}

.wrong-answer{
    background: linear-gradient(to right, rgba(181, 52, 52, 0.527), rgba(214, 10, 10, 0.522));
    color: rgba(255, 0, 0, 0.13);
    font-size: 1rem;
    border-radius: 20px;
    animation: answerreveal 5s linear ;
}


.score-display {
    position: fixed; /* Or absolute, depending on layout */
    top: 25%;
    right: 20px;
    padding: 10px;
    background-color: rgba(226, 214, 214, 0.089);
    color: white;
    border-radius: 8px;
    font-size: 1.2rem;
    z-index: 99;
}


@media screen and (max-width: 767px) {
    .questioncontainer{
        display: flex;
        max-width: 80vw;
        background-color: transparent;
             
        padding-top: 0;
        padding-bottom: 10vh;
       
        
        max-height: 25vh; 
        
        
        align-items: flex-start;
        justify-content: center;
    }

    .questioncontainer h1{
        animation: Questions 10s ease infinite;
        border-radius: 6rem;
        backdrop-filter: blur(8px);   
        min-height: 0;
        font-size: 0.9rem;
        font-weight: 100;
        padding: 4vh;
        margin-top: 2rem;
        max-height: 30vh;
        background-color: rgba(30, 29, 29, 0.448);
    }
    .answercontainer{
        height: 40%;
        padding-top: 10vh;
        margin-left: 4rem;
    }
   

    .Answer{
        font-size: 0.7rem;
        width: 70vw;
        line-height: 1.2rem;
        padding: 0.3rem;
        
    }

    .backButton{
        width: 15%;
        margin: 0.2rem;
        font-size: 0.6rem;
        
    }

    .nextButton{
        width: 40%;
        height: 6vh;
    }


    .score-display {
        position: fixed; /* Or absolute, depending on layout */
        top: 20px;
        right: 20px;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        border-radius: 8px;
        font-size: 1.2rem;
    }

    button:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    
}




/* Breakpoint for tablets and larger screens */
@media screen and (min-width: 768px) {
   
}

/* Breakpoint for desktops and larger screens */
@media screen and (min-width: 1200px) {
  /* Adjust styles for desktops and larger screens */
  
}

@keyframes Questions {
	0% {
		border: 1px solid rgb(163, 160, 160);
	}
    10%{
        border: 1px solid rgba(255, 255, 255, 0.867);
    }

	30% {
		border: 1px solid rgba(255, 255, 255, 0.64);
	}

    50% {
		border: 1px solid rgba(255, 255, 255, 0.44);
	}
	70% {
		border: 1px solid rgba(255, 255, 255, 0.64);
	}

    80%{
        border: 1px solid rgba(255, 255, 255, 0.84);
    }

    90%{
        border: 1px solid rgba(255, 255, 255, 0.9);
    }

    100%{
        border: 1px solid rgba(255, 255, 255, 1);
    }
}


	@keyframes answerreveal {
        0% {
            opacity: 0;
            font-size: 0.4rem;
        }
        25% {
            opacity: 0.25;
        }
        50% {
            opacity: 0.5;
        }
        75% {
            opacity: 0.75;
        }
        100% {
           opacity: 1;
           font-size: 1rem
        }
    }

    @keyframes questionreveal {
        0% {
            opacity: 0;
            
            
        }
        25% {
            opacity: 0.25;
        }
        50% {
            opacity: 0.5;
        }
        75% {
            opacity: 0.75;
        }
        100% {
           opacity: 1;
           
           
        }
    }


    



