
  
.gradientbackground{
    background-color: rgba(234, 242, 234, 0.447);
    background: linear-gradient(-45deg, #3b6f21b1, #000000, #1c5529a9, #aed884b4);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    z-index: -1;
    position: absolute;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



.Topicscontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    width: 100vw;
}

.Topicsinner{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    background-color: transparent;
    border-radius: 10rem;
    width: 100vw;
    height: 100vh;
}

.topics{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-decoration: none;
    width: 60vw;
    

}



.Topicsinner h2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    font-size: 5rem;
    padding-right: 4rem;
    margin: 0;
    font-weight: 800;
    background: linear-gradient(to right, rgba(32, 102, 41, 0.997), rgba(27, 3, 3, 0.937));    
    -webkit-background-clip: text; /* For Safari/Chrome */
    background-clip: text;
    color: transparent;
    letter-spacing: 0.5rem;
    text-shadow: 2px 2px 1px rgba(221, 217, 217, 0.507);
}

.topic{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    width: 20vw;
    height: 8vh;
    margin: 2vh;
    text-decoration: none;
    
    background-color: linear-gradient(to right,rgba(230, 222, 222, 0.347), rgba(175, 122, 57, 0.504));    
    transition: ease-in-out 0.6s;
}

.topic:hover{
    font-size: 2.5rem;
    
}



.topic:hover{
    background: linear-gradient(to right,rgba(246, 244, 244, 0), rgba(175, 122, 57, 0.504)); 
    cursor: pointer;
    transition: ease-in-out 0.3s;
    box-shadow: 1px 2px 1px white;
    
}

.topic:active{
    border: 0.5px solid rgba(255, 255, 255, 0.065);
    box-shadow: 1px 2px 1px rgba(255, 255, 255, 0.689);
    background-color: rgba(255, 255, 255, 0.468); 
    transition: ease-in-out 0s;
    
    
}


.topic-link{
    text-decoration: none; /* Remove default underline */
}

@media screen and (max-width: 767px) {
    .topics{
        width: 80vw;
    }

    .Topicsinner h2{
        font-size: 1rem;
        padding-left: 5rem;
        
    }

    .topic{
        font-size: 1rem;
    }

    .Topicsinner{
        display: flex;
        justify-content: center;
        align-items: center;        
        width: 100%;
    }
}

/* Breakpoint for tablets and larger screens */
@media screen and (min-width: 768px) {
  /* Adjust styles for tablets and larger screens */
  
}

/* Breakpoint for desktops and larger screens */
@media screen and (min-width: 1200px) {
  /* Adjust styles for desktops and larger screens */
  body {
    /* Example of style adjustment */
    font-size: 18px;
  }
}
