.Homecontainer{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    
    
    
  }

  .leftcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 60vh;
    padding: 0;
    border-radius: 10rem;
    background-color: rgba(87, 43, 10, 0.006);
    z-index: 5;
  }

  .leftcontainer h1, p  {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0;
    margin: 0;
    font-size: 8rem;
    font-weight: 800;
    background: linear-gradient(to right, rgba(15, 74, 10, 0.94), rgba(0, 0, 0, 0));    
    -webkit-background-clip: text; /* For Safari/Chrome */
    background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 1px rgba(247, 244, 244, 0.515);
    font-family: "Bebas Neue";


  }


.Qu{
  text-transform: uppercase;
  font-size: 10rem;
  letter-spacing: 0.5rem;
  text-shadow: 3px 2px 1px rgba(241, 234, 234, 0.645);
  font-family: "Bebas Neue";
  padding-right: 1rem;
  
}

.Quwrong{
  padding-left: 2rem;
  padding-right: 1rem;
  text-transform: uppercase;
  font-size: 10rem;
  letter-spacing: 0.5rem;
  text-shadow: 3px 2px 1px rgba(241, 234, 234, 0.645);
  font-family: "Bebas Neue";
}


  .rightcontainer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 50vw;
    height: 50vh;
    z-index: 5;
    
  }

  .Startbutton{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 10vh;
    color: white;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 4rem;
    animation: attention 10s ease-in-out infinite;
    transition: ease-in-out 0.7s;
    letter-spacing: 0.2rem;
     /* Start the animation after 5 seconds */
    
  }


 .Startbutton a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.827);
  font-family: "Play";
  font-weight: 100;
  font-size: 2rem;
  
  
 }



  .Startbutton:hover{
    cursor: pointer;
    transition: ease-in-out 0.7s;
    animation-play-state: paused;
    border-bottom: 1px solid white;
  }

  .QU{
    color: black;
  }

  @keyframes attention {
    0% {
      transform: translateX(0) rotate(-2deg);
      box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.182);
    }
    10% {
      transform: translateX(0) rotate(2deg);
    }
    20% {
      transform: translateX(0) rotate(-2deg);
    }
    30% {
      transform: translateX(0) rotate(2deg);
      box-shadow: 1px 1.5px 2px white;
    }
    40% {
      transform: translateX(0) rotate(-2deg);
    }
  
    50% {
      transform: translateX(0) rotate(2deg);
      
    }
    60% {
      transform: translateX(0) rotate(-2deg);
    }
    70% {
      transform: translateX(0) rotate(2deg);
      box-shadow: 1px 2px 1px white;
    }
    80% {
      transform: translateX(0) rotate(-2deg );
    }
    90% {
      transform: translateX(0) rotate(2deg);
    }

    100%{
      transform: translateX(0) rotate(-2deg);
      box-shadow: 1px 1.5px 2px rgba(255, 255, 255, 0.233);
    }

    
    


  }

  @keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}
